@model List<ShoppingCart.ViewModels.BookViewModel>
    @{ 
        const int maxPerRow = 3;
        int counter = 0;
    }

<div class="row">
    @foreach(var book in Model)
    {
        counter++;
        if (counter > maxPerRow)
        {
            counter = 0;
            @Html.Raw("</div>")
            @Html.Raw("<div class=\"row\">")
        }
        <div class="col-md-4">
            @*thumbnail为缩略图*@
            <a href="@Url.Action("Details","Books",new {book.Id})" class="thumbnail">
                <img src="@book.ImageUrl" alt="@book.Title" title="@book.Title" />
                <span class="label label-success">存储 @book.SavePercentage %</span>
            </a>
            <h4>
                <a href="@Url.Action("Details","Books",new {book.Id})">
                    @book.Title
                </a>
            </h4>
        </div>
        <p>@book.Author.FullName</p>
        <p>你的价格：$@book.SalePrice</p>
        <p>
            @*text-decoration 属性规定添加到文本的修饰。*@
            @*line-through	定义穿过文本下的一条线。*@
            全部价格:<span style="text-decoration:line-through">
            $@book.ListPrice
            </span>
        </p>
    }
</div>